################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNETdemoprojekti/.vs/AspNETdemoprojekti/v16
